body{
    background-color: #EDD2F3;
    text-align: center;
}
table{
    margin: auto;
    width: 100%;
    border-spacing: 0px;
}
h1{
    font-family: 'Raleway', sans-serif;
    color:#FF8243;
    font-size: 60px;
}
th{
    border: 1px solid black;
    font-weight: 900;
    font-size: 30px;
    color: #009F9D;
    
    font-family: 'Oswald', sans-serif;
}
    
td{
    border: 1px solid black;
    font-weight: 600;
    color: #3E065F;
    font-family: 'Inconsolata', monospace;
}